/*
   bullet
      bullet__line
         bullet__line__drop-down
         bullet__line__dot
            bullet__line__dot__circle
         bullet__line__editable
      bullet__children-container
*/

.bullet__line__drop-down {
   margin-right: -0.2rem;

   width: 1.7rem;
   height: 1.7rem;

   //pressing the button toggles the .rotated state
   transition: transform $transition-time-fast;
   &.rotated {
      transform: rotate(-90deg);
   }

   //chevron icon that is a child of the drop-down button
   color: transparent;
   transition: color $transition-time-fast, transform $transition-time-normal;
}

//when anywhere on the bullet line (drop down, bullet, text) is hovered, show the drop-down
.bullet__line:hover .bullet__line__drop-down {
   color: $document-content-color;
}
