// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url(https://fonts.gstatic.com/s/materialicons/v54/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
// }

// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;
//   line-height: 1;
//   letter-spacing: normal;
//   text-transform: none;
//   display: inline-block;
//   white-space: nowrap;
//   word-wrap: normal;
//   direction: ltr;
//   -webkit-font-feature-settings: 'liga';
//   font-feature-settings: 'liga';
//   -webkit-font-smoothing: antialiased;
// }

.icon {
   $size: 1.5rem;

   cursor: default;
   user-select: none;

   display: flex;
   align-items: center;
   justify-content: center;

   width: $size;
   height: $size;

   border-radius: 50%;

   &.disabled .icon__glyph {
      display: none;
   }

   &:not(.disabled) {
      &.has-on-click {
         cursor: pointer;
      }

      & .icon__glyph {
         cursor: inherit;
         transition: transform $transition-time-normal;
      }

      //if the icon has an onClick function and its hovered, scale up the inner glyph
      &.has-on-click:hover .icon__glyph {
         transform: scale(1.1);
      }
   }
}
