.icon {
   $size: 1.5rem;

   cursor: default;
   user-select: none;

   display: flex;
   align-items: center;
   justify-content: center;

   width: $size;
   height: $size;

   border-radius: 50%;

   &.has-on-click {
      cursor: pointer;
   }

   & .icon__glyph {
      cursor: inherit;
      transition: transform $transition-time-normal;
   }

   //if the icon has an onClick function and its hovered, scale up the inner glyph
   &.has-on-click:hover .icon__glyph {
      transform: scale(1.1);
   }
}