//color palette 1
$orange-yellow-crayola: #f4d06fff;
$dark-orange: #ff8811ff;
$middle-blue-green: #9dd9d2ff;
$floral-white: #fff8f0ff;
$space-cadet: #392f5aff;

//color palette 2
$cadet: #4f6d7aff;
$columbia-blue: #c0d6dfff;
$alice-blue: #dbe9eeff;
$blue-yonder: #4a6fa5ff;
$blue-sapphire: #166088ff;
$naples-yellow: #ffdf64ff;

//main color variables
$document-color: $alice-blue; //azure
$document-content-color: black;
$action-panel-color: $blue-yonder; //cornflowerblue
$action-panel-content-color: $columbia-blue;
$content-panel-color: $blue-yonder; //lighten($cadet, 20%);
$link-list-color: #99b2dd;

//transition variables
$transition-time-slow: 400ms;
$transition-time-normal: 300ms;
$transition-time-fast: 20ms;

//specific variables
$bullet-list-link-color: $blue-sapphire;
$bullet-dot-highlight-color: rgb(193, 206, 211);

//action panel
$action-panel__button-row-height: 3rem;
$action-panel__icon-size: 1.8rem;
$action-panel__search-bar-anim: 200ms ease-in;

* {
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   cursor: default;
}

*,
*::after,
*::before {
   -webkit-user-select: none;
   -webkit-user-drag: none;
   -webkit-app-region: no-drag;
   cursor: default;
}

#root {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

   background-color: $document-color;

   overflow: hidden;
}

@import '@/components/icon/icon.scss';

@import '@/components/action_bar/action_bar.scss';

@import '@/components/side_panel/side_panel.scss';

@import '@/components/link_menu/link_menu.scss';

@import '@/components/content_body/note_page/note_page.scss';
@import '@/components/content_body/note_page/bullet/bullet.scss';
@import '@/components/content_body/graph_page/graph_page.scss';

.all-descendants-w-resize * {
   cursor: w-resize;
}
